body {
    background-color: blueviolet;
    background-image: url('../images/image_0193.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-position: 80%;
}


header {
    background-image: url('../images/imageObject113.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-position: 80%;
}


header h1 {
    font-size: 52px;
    color: burlywood;
}

header h1 span {
    display: inline-block;
}

header h1 span::first-letter {
    font-size: 130%;
    color: coral;
}